# Build directories
Debug/
Release/
*exe

# Bloated Windows Databases
*.sdf
*.opensdf
*.suo


# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch
*.idb
*.pdb
dox/
GWCA_d.lib
*.opendb

GWCAd\.lib
*.lib

# Sublime Text stuff
*.sublime-project*
*.sublime-workspace*
